.book-section {
  aspect-ratio: 1.40625 / 1;
  // background-color: blue;
  height: 650px;
  margin: 200px;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  align-self: center;
  // display: flex;
  // flex-direction: row;
  // align-items: center;
}

.book-section-packshot {
  // background-color: purple;
  height: 100%;
  width: 600%;
}

.book-section-packshot img {
  height: 100%;
}

.book-section-information {
  // background-color: green;
  // height: 600px;
  // width: 50%;
  // margin-left: 80px;
  height: 100%;
  width: 600%;
}

.book-section-information-title {
  // background-color: pink;
  height: 200px;
}

.book-section-information-author {
  // background-color: orange;
  height: 50px;
  margin-top: 18px;
}

.book-section-information-author p {
  font-family: "Dazzed Heavy";
  text-transform: uppercase;
  font-size: 24px;
  color: #263e5e;
}

.book-section-information-summary {
  // background-color: orangered;
  height: 250px;
  margin-top: 2px;
}

.book-section-information-summary p {
  font-family: "Dazzed Medium";
  font-size: 20px;
  line-height: 28px;
  color: #263e5e;
}

.book-section-information-button {
  // background-color: palevioletred;
  height: 100px;
}

.information-button {
  background: none;
  border: none;
  margin-top: 18px;
}

.information-button p {
  font-family: "Dazzed Medium";
  font-size: 16px;
  line-height: 24px;
  color: #263e5e;
  text-decoration: underline;
}

.buy-button {
  background-color: transparent;
  border: 3px solid #263e5e;
  border-radius: 50px;
  transition: ease-out 0.5s;
  // margin-top: 80px;
  position: absolute;
  bottom: 0;
}

.buy-button p {
  font-family: "Dazzed Heavy";
  text-transform: uppercase;
  font-size: 20px;
  color: #263e5e;
  padding: 22px 60px;
}

.buy-button:hover {
  scale: 104%;
  transition-duration: 0.5s;
  // transition-delay: 8s;
}
