// .footer {
//   background-color: orangered;
//   height: 100vh;
//   width: 100vw;
//   display: flex;
//   flex-direction: row;
//   position: relative;
// }

.footer {
  background-color: #263e5e;
  color: #ffffff;
  height: 295px;
}

.footer-contact {
  position: relative;
  flex-direction: row;
  left: 14%;
}

.footer-navigation {
  position: relative;
  flex-direction: row;
  margin-top: 93px;
  // left: 617px;
}

.footer-navigation-1 {
  position: absolute;
  left: 40%;
}

.footer-navigation-1-2 p {
  margin-top: 16px;
}

.footer-navigation-1-3 p {
  margin-top: 16px;
}

.footer-navigation-2-2 p {
  margin-top: 16px;
}

.footer-navigation-2-3 p {
  margin-top: 16px;
}

.footer-navigation-2 {
  position: absolute;
  left: 66.666%;
  // left: 966px;
}

.footer-navigation p {
  font-family: "Dazzed Medium";
  text-transform: uppercase;
  font-size: 18px;
}

.footer-navigation p a {
  text-decoration: none;
}

.footer-contact-logo img {
  height: 86px;
  position: absolute;
  top: 60;
  // left: 200;
}

.footer-contact-copyright {
  position: absolute;
  // left: 200;
  top: 163;
}

.footer-contact-copyright p {
  font-family: "Dazzed Medium";
  text-transform: uppercase;
  font-size: 14px;
}

.footer-contact-reseaux {
  position: absolute;
  font-size: 40px;
  top: 195;
  // left: 200;
  display: flex;
  flex-direction: row;
}

.footer-contact-reseaux-logo {
  padding-right: 28px;
}
