.h-50 {
  height: 50vh;
}
.h-75 {
  height: 75vh;
}
.h-100 {
  height: 100vh;
}

/* slider mask */
.slider-mask {
  border: 5px solid black;
  border-radius: 10px;
  overflow: auto;
  height: 100vh;
  // overflow: hidden;
}

/* slider track */
.slider-track {
  height: 100%;
  display: inline-flex;
  border: 5px solid purple;
  border-radius: 5px;
}

/* slider item (screen) */
.slider-track .screen {
  position: relative;
  height: 100%;
  border: 5px solid orange;
}

.frieze-button {
  background-color: #263e5e;
  border: 3px solid #ffffff;
  border-radius: 50px;
  transition: ease-out 0.5s;
}

.frieze-button p {
  font-family: "Dazzed Heavy";
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  padding: 22px 60px;
}

.frieze-button:hover {
  scale: 104%;
  transition-duration: 0.5s;
  // transition-delay: 8s;
}

.slider-track .screen-1 {
  aspect-ratio: 2 / 1;
  // background-color: purple;
}

.screen-1 .box-1 {
  position: absolute;
  top: 12%;
  left: 6%;
}

.screen-1 .box-1-2 {
  position: absolute;
  top: 22%;
  left: 56%;
}

.slider-track .screen-2 {
  aspect-ratio: 1.40625 / 1;
  // background-color: purple;
}

.screen-2 .box-2 {
  position: absolute;
  top: 20%;
  left: 18%;
}

.slider-track .screen-3 {
  aspect-ratio: 1.40625 / 1;
  // background-color: purple;
}

.screen-3 .box-3 {
  position: absolute;
  top: 8%;
  left: 15%;
  z-index: 2;
}

.screen-3 .box-3-2 {
  position: absolute;
  top: 20%;
  left: 25.8%;
}

.screen-3 .button-3-3 {
  position: absolute;
  top: 19%;
  left: 74%;
  z-index: 3;
}

.slider-track .screen-4 {
  aspect-ratio: 1.40625 / 1;
  // background-color: purple;
}

.screen-4 .box-4 {
  // background-color: orangered;
  // height: 80%;
  // width: 50%;
  position: absolute;
  top: 10%;
  left: 27%;
}

.slider-track .screen-5 {
  aspect-ratio: 1.40625 / 1;
  // background-color: purple;
}

.screen-5 .box-5 {
  position: absolute;
  top: 14%;
  left: 12%;
  z-index: 2;
}

.screen-5 .box-5-2 {
  position: absolute;
  top: 28%;
  left: 35%;
}

.slider-track .screen-6 {
  aspect-ratio: 1.40625 / 1;
  // background-color: purple;
}

.screen-6 .box-6 {
  position: absolute;
  top: 25%;
  left: 20%;
}

.screen-6 .button-6-2 {
  position: absolute;
  top: 71%;
  left: 37%;
  z-index: 3;
}

.slider-track .screen-7 {
  aspect-ratio: 6.4 / 1;
  // background-color: purple;
}

.screen-7 .box-7 {
  position: absolute;
  top: 18%;
  left: 1%;
  z-index: 2;
}

.screen-7 .box-7-2 {
  position: absolute;
  top: 10%;
  left: 12%;
}

.screen-7 .box-7-3 {
  position: absolute;
  top: 6%;
  left: 17%;
}

.screen-7 .box-7-4 {
  position: absolute;
  top: 51%;
  left: 19%;
  z-index: 2;
}

.screen-7 .box-7-5 {
  position: absolute;
  top: 15%;
  left: 27%;
}

.screen-7 .box-7-6 {
  position: absolute;
  top: 8.2%;
  left: 38.2%;
}

.screen-7 .box-7-7 {
  position: absolute;
  top: 12.8%;
  left: 47.3%;
}

.screen-7 .box-7-8 {
  position: absolute;
  top: 52.2%;
  left: 49%;
}

.screen-7 .box-7-9 {
  position: absolute;
  top: 4%;
  left: 57.8%;
}

.screen-7 .box-7-10 {
  position: absolute;
  top: 39%;
  left: 59.5%;
}

.screen-7 .box-7-11 {
  position: absolute;
  top: 11%;
  left: 67%;
}

.screen-7 .box-7-12 {
  position: absolute;
  top: 28%;
  left: 72%;
}

.screen-7 .box-7-13 {
  position: absolute;
  top: 51%;
  left: 84%;
  z-index: 2;
}

.screen-7 .box-7-14 {
  position: absolute;
  top: 10%;
  left: 86.2%;
}

.slider-track .screen-8 {
  aspect-ratio: 1.40625 / 1;
  // background-color: purple;
}

.screen-8 .box-8 {
  // background-color: orangered;
  // height: 40%;
  // width: 80%;
  position: absolute;
  top: 30%;
  left: 8%;
}

.screen-8 .button-8-2 {
  position: absolute;
  top: 65%;
  left: 70%;
  z-index: 3;
}

.slider-track .screen-9 {
  aspect-ratio: 1.40625 / 1;
  // background-color: purple;
}

.screen-9 .box-9 {
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 2;
}

.screen-9 .box-9-2 {
  position: absolute;
  top: 8%;
  left: 19%;
}

.slider-track .screen-10 {
  aspect-ratio: 1.40625 / 1;
  // background-color: purple;
}

.screen-10 .box-10 {
  position: absolute;
  top: 18%;
  left: 21%;
}

.slider-track .screen-11 {
  aspect-ratio: 1.40625 / 1;
  // background-color: purple;
}

.screen-11 .box-11 {
  position: absolute;
  top: 19%;
  left: 19%;
}

.slider-track .screen-12 {
  aspect-ratio: 1.40625 / 1;
  // background-color: purple;
}

.screen-12 .box-12 {
  position: absolute;
  top: 20%;
  left: 9.8%;
}

.slider-track .screen-13 {
  aspect-ratio: 1.40625 / 1;
  // background-color: purple;
}

.screen-13 .box-13 {
  // background-color: orangered;
  // height: 50%;
  // width: 45%;
  position: absolute;
  top: 15%;
  left: 2%;
  z-index: 2;
}

.screen-13 .box-13-2 {
  // background-color: pink;
  // height: 60%;
  // width: 45%;
  position: absolute;
  top: 28%;
  left: 46.8%;
}

.slider-track .screen-14 {
  aspect-ratio: 1.40625 / 1;
  // background-color: purple;
}

.screen-14 .box-14 {
  position: absolute;
  top: 13.8%;
  left: 20%;
}

.slider-track .screen-15 {
  aspect-ratio: 1.40625 / 1;
  // background-color: purple;
}

.screen-15 .box-15 {
  // background-color: orangered;
  // height: 80%;
  // width: 50%;
  position: absolute;
  top: 11%;
  left: 16%;
}

.screen-15 .box-15-2 {
  // background-color: pink;
  // height: 60%;
  // width: 25%;
  position: absolute;
  top: 26%;
  left: 60%;
}

.screen-15 .button-15-3 {
  position: absolute;
  top: 85%;
  left: 10%;
  z-index: 3;
}

.slider-track .screen-16 {
  aspect-ratio: 1.40625 / 1;
  // background-color: purple;
}

.screen-16 .box-16 {
  // background-color: orangered;
  // height: 30%;
  // width: 60%;
  position: absolute;
  top: 11%;
  left: 6%;
  z-index: 2;
}

.screen-16 .box-16-2 {
  // background-color: pink;
  // height: 30%;
  // width: 50%;
  position: absolute;
  top: 50%;
  left: 36%;
}

.slider-track .screen-17 {
  aspect-ratio: 1.40625 / 1;
  // background-color: purple;
}

.screen-17 .box-17 {
  // background-color: orangered;
  // height: 100%;
  // width: 50%;
  position: absolute;
  left: 26%;
}

// Codepen prof
.screen {
  height: 100%;
  -aspect-ratio: 3 / 1;
  width: 100vw;
  border: 5px solid blue;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.screen-1 {
  background-color: hsl(var(--screen-hue), 50%, 80%);
}
.screen-2 {
  background-color: hsl(var(--screen-hue), 60%, 70%);
}
.screen-3 {
  background-color: hsl(var(--screen-hue), 70%, 60%);
}
.screen-4 {
  background-color: hsl(var(--screen-hue), 80%, 50%);
}
.screen-5 {
  background-color: hsl(var(--screen-hue), 90%, 40%);
}
.screen-6 {
  background-color: hsl(var(--screen-hue), 100%, 30%);
}

.spacer {
  height: 100vh;
  background-color: lightgrey;
}
