.h-50 {
  height: 50vh;
}
.h-75 {
  height: 75vh;
}
.h-100 {
  height: 100vh;
}

/* slider mask */
.slider-mask {
  border-radius: 10px;
  overflow: auto;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* slider track */
.slider-track {
  height: 100%;
  display: inline-flex;
  border-radius: 5px;
}

/* slider item (screen) */
.slider-track .screen {
  position: relative;
  height: 100%;
}

.slider-track .screen .box img {
  width: 100%;
  // border: 3px solid blue;
}

.frieze-button {
  background-color: #263e5e;
  border: 3px solid #ffffff;
  border-radius: 50px;
  transition: ease-out 0.5s;
  cursor: pointer;
}

.frieze-button p {
  font-family: "Dazzed Heavy";
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  padding: 22px 60px;
}

.frieze-button:hover {
  scale: 104%;
  transition-duration: 0.5s;
}

.slider-track .screen-1 {
  aspect-ratio: 2 / 1;
}

.screen-1 .box-1 {
  position: absolute;
  top: 10%;
  left: 7%;
  width: 66%;
}

.screen-1 .box-1-2 {
  position: absolute;
  top: 28%;
  left: 60%;
  width: 38%;
}

.slider-track .screen-2 {
  aspect-ratio: 1.40625 / 1;
}

.screen-2 .box-2 {
  position: absolute;
  top: 18%;
  left: 15%;
  width: 70%;
}

.slider-track .screen-3 {
  aspect-ratio: 1.40625 / 1;
}

.screen-3-box {
  position: absolute;
  // background-color: red;
  top: 11%;
  left: 8%;
  height: 80%;
  width: 80%;
}

.screen-3 .box-3 {
  position: absolute;
  top: 0%;
  left: 4%;
  z-index: 2;
  width: 20%;
}

.screen-3 .box-3-2 {
  position: absolute;
  bottom: 0%;
  right: 6%;
  width: 76%;
}

.screen-3 .button-3-3 {
  position: absolute;
  top: 7%;
  right: 0%;
  z-index: 3;
}

.slider-track .screen-4 {
  aspect-ratio: 1.40625 / 1;
}

.screen-4 .box-4 {
  position: absolute;
  top: 7%;
  left: 25%;
  width: 48%;
}

.slider-track .screen-5 {
  aspect-ratio: 1.40625 / 1;
}

.screen-5 .box-5 {
  position: absolute;
  top: 11%;
  left: 10%;
  z-index: 2;
  width: 30%;
}

.screen-5 .box-5-2 {
  position: absolute;
  top: 26%;
  left: 30%;
  width: 60%;
}

.slider-track .screen-6 {
  aspect-ratio: 1.40625 / 1;
}

.screen-6-box {
  position: absolute;
  // background-color: red;
  top: 20%;
  left: 15%;
  height: 62%;
  width: 70%;
}

.screen-6 .box-6 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}

.screen-6 .button-6-2 {
  position: absolute;
  bottom: 0%;
  left: 32%;
  z-index: 3;
}

.slider-track .screen-7 {
  aspect-ratio: 7.2 / 1;
  width: auto;
}

.screen-7 .box-7 {
  position: absolute;
  top: 20%;
  left: 1.6%;
  width: 9.6%;
}

.screen-7 .box-7-2 {
  position: absolute;
  top: 7%;
  left: 12%;
  width: 4.6%;
}

.screen-7 .box-7-3 {
  position: absolute;
  top: 5%;
  left: 17.2%;
  width: 9.6%;
}

.screen-7 .box-7-4 {
  position: absolute;
  top: 48%;
  left: 19%;
  z-index: 2;
  width: 9.6%;
}

.screen-7 .box-7-5 {
  position: absolute;
  top: 14%;
  left: 27.5%;
  width: 10.4%;
}

.screen-7 .box-7-6 {
  position: absolute;
  top: 5%;
  left: 38.4%;
  width: 8.4%;
}

.screen-7 .box-7-7 {
  position: absolute;
  top: 9%;
  left: 47.4%;
  width: 9.6%;
}

.screen-7 .box-7-8 {
  position: absolute;
  top: 52.2%;
  left: 49%;
  width: 10%;
}

.screen-7 .box-7-9 {
  position: absolute;
  top: 4%;
  left: 57.8%;
  width: 8.2%;
}

.screen-7 .box-7-10 {
  position: absolute;
  top: 42%;
  left: 60%;
  width: 6%;
}

.screen-7 .box-7-11 {
  position: absolute;
  top: 9%;
  left: 67%;
  width: 4.4%;
}

.screen-7 .box-7-12 {
  position: absolute;
  top: 25%;
  left: 72%;
  width: 10.6%;
}

.screen-7 .box-7-13 {
  position: absolute;
  top: 48%;
  left: 83.3%;
  z-index: 2;
  width: 7%;
}

.screen-7 .box-7-14 {
  position: absolute;
  top: 11%;
  left: 86.2%;
  width: 12%;
}

.slider-track .screen-8 {
  aspect-ratio: 1.40625 / 1;
}

.screen-8-box {
  position: absolute;
  // background-color: red;
  top: 30%;
  left: 7%;
  height: 43%;
  width: 86%;
}

.screen-8 .box-8 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 92%;
}

.screen-8 .button-8-2 {
  position: absolute;
  bottom: 0%;
  right: 0%;
  z-index: 3;
}

.slider-track .screen-9 {
  aspect-ratio: 1.40625 / 1;
}

.screen-9 .box-9 {
  position: absolute;
  top: 19%;
  left: 4%;
  z-index: 2;
  width: 30%;
}

.screen-9 .box-9-2 {
  position: absolute;
  top: 7%;
  left: 19%;
  width: 78%;
}

.slider-track .screen-10 {
  aspect-ratio: 1.40625 / 1;
}

.screen-10 .box-10 {
  position: absolute;
  top: 15%;
  left: 17%;
  width: 66%;
}

.slider-track .screen-11 {
  aspect-ratio: 1.40625 / 1;
}

.screen-11 .box-11 {
  position: absolute;
  top: 16%;
  left: 15%;
  width: 70%;
}

.slider-track .screen-12 {
  aspect-ratio: 1.40625 / 1;
}

.screen-12 .box-12 {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
}

.slider-track .screen-13 {
  aspect-ratio: 1.40625 / 1;
}

.screen-13 .box-13 {
  position: absolute;
  top: 14%;
  left: 4%;
  z-index: 2;
  width: 45%;
}

.screen-13 .box-13-2 {
  position: absolute;
  top: 25%;
  left: 41%;
  width: 55%;
}

.slider-track .screen-14 {
  aspect-ratio: 1.40625 / 1;
}

.screen-14 .box-14 {
  position: absolute;
  top: 9%;
  left: 15%;
  width: 70%;
}

.slider-track .screen-15 {
  aspect-ratio: 1.40625 / 1;
}

.screen-15-box {
  position: absolute;
  // background-color: red;
  top: 11%;
  left: 14%;
  height: 80%;
  width: 70%;
}

.screen-15 .box-15 {
  position: absolute;
  top: 0%;
  left: 10%;
  width: 76%;
}

.screen-15 .box-15-2 {
  position: absolute;
  top: 24%;
  right: 0%;
  width: 30%;
}

.screen-15 .button-15-3 {
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: 3;
}

.slider-track .screen-16 {
  aspect-ratio: 1.40625 / 1;
}

.screen-16 .box-16 {
  position: absolute;
  top: 11%;
  left: 3%;
  z-index: 2;
  width: 70%;
}

.screen-16 .box-16-2 {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 62%;
}

.slider-track .screen-17 {
  aspect-ratio: 1.40625 / 1;
}

.screen-17 .box-17 {
  position: absolute;
  left: 26%;
  width: 48%;
}

.screen {
  // border: 2px solid red;
  height: 100%;
  -aspect-ratio: 3 / 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.screen-1 {
  background-color: hsl(var(--screen-hue), 50%, 80%);
}
.screen-2 {
  background-color: hsl(var(--screen-hue), 60%, 70%);
}
.screen-3 {
  background-color: hsl(var(--screen-hue), 70%, 60%);
}
.screen-4 {
  background-color: hsl(var(--screen-hue), 80%, 50%);
}
.screen-5 {
  background-color: hsl(var(--screen-hue), 90%, 40%);
}
.screen-6 {
  background-color: hsl(var(--screen-hue), 100%, 30%);
}

.spacer {
  height: 100vh;
  background-color: lightgrey;
}
