@import "base";
@import "layout";
@import "modules/example";
@import "modules/train";
@import "modules/book-section";
@import "modules/footer";
@import "modules/loader";
@import "bootstrap/scss/bootstrap-grid";
@font-face {
  font-family: "Dazzed Heavy";
  src: url("../fonts/DazzedTRIAL-Heavy.woff2") format("woff2"),
    url("../fonts/DazzedTRIAL-Heavy.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "Dazzed Medium";
  src: url("../fonts/DazzedTRIAL-Medium.woff2") format("woff2"),
    url("../fonts/DazzedTRIAL-Medium.woff") format("woff");
  font-display: fallback;
}
